*,
::before,
::after {
    margin: 0px;
    box-sizing: border-box;
}

html {
    background-color: rgb(15, 13, 13);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.heading {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    color: white;
}

.heading h1 {
    font-size: 2em;
}